@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Condensed:wght@200&display=swap');


/* Variables =========================== */
:root {
  --main-font: 'Amatic SC', cursive;
}


/* Universal styling===========================*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Amatic SC', cursive;;
  color: #212121;
}

body {
  width: 100%;
  line-height: 1.4;
  color: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%; /* so the images stay within their parents*/
}

.wrapper {
  margin: 1px auto;
  padding: 2rem 0;
  max-width: 1000px;
}

ul {
  list-style: none;
}


/* Bootstrap version css======================== */


/* Navbar and logo------------------ */

#logo {
  width: 10rem;
  max-width: 300px;
}

.navbar {
  background-color: #064273;
}

.nav-link {
  text-align: center;
  font-family: var(--main-font);
  font-size: 2rem;
}

/* Media Queries ======================== */
@media(min-width:992px) {
  .navbar-expand-lg .navbar-collapse{
    width: 100%;
  }
}







