@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Condensed:wght@200&display=swap');

/* Universal styling===========================*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'ABeeZee', sans-serif;
  color: #212121;
}

body {
  width: 100%;
  line-height: 1.4;
  color: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%; /* so the images stay within their parents*/
}

.wrapper {
  margin: 1px auto;
  padding: 2rem 0;
  max-width: 1000px;
}

ul {
  list-style: none;
}


/* Head ======================== */
.head-banner {
  background-color: #064273;
  width: 100%;
  margin: 0;
  min-height: 8vh;
}

.logo {
  display: block;
  max-width: 300px;
  min-width: 150px;
  width: 45%;
  margin: 0 auto;
  padding: 20px;
}



/* Head nav ======================== */
.nav-grid-container {
  margin: 0 auto;
  display: flex;
  min-height: 8vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 1rem;
  margin-right: 1rem;
  list-style-type: none;
  max-width: 1000px;
}

.nav-links li {
  border-right: #fff solid 1px;
  flex: 1;
  text-align: center;
}

.nav-links li:last-child {
  border-right: none;
}

.nav-links a {
  background-color: #064273;
  color: #fff;
  /* display: block; */
  padding: 0.5rem 1.5rem;
  margin: 0 auto;
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
  text-align: center;
  display: block;
}

.nav-links a:hover {
  color: #064273;
  background-color: #fff;
}

.nav-links li a:active {
  background-color: grey;
}


/* burger menu ==================================*/
.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu div {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 7px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* side nav menu =============================================================*/

.side-menu {
  /* display: none; */
  position: relative;
  top: 0px;
  display: none;
}

/* gallery grid container =============================================================*/
.top-gallery-grid-container {
  display: grid;
  gap: 1rem;
  margin: 1rem;
  grid-template-areas: 
    'value-prop main-img main-img'
    'ot-widget main-img main-img';
}

.value-prop {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  grid-area: value-prop;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.value-prop h2 {
  font-size: 3rem;
}

.value-prop i {
  font-size: 1rem;
  letter-spacing: 2px;
  padding-top: 1rem;
}

.ot-widget {
  grid-area: ot-widget;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  grid-area: main-img;
}

.btn-book-now {
  font-family: 'Amatic SC', cursive;
  margin: 2rem auto;
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  background-color: #064273;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 2px black;
}

.btn-book-now:hover {
  color: #064273;
  background-color: #fff;
}

.btn-book-now:active {
  transform: scale(90%);
}

.btn-book-now a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  margin-left: 15px;
}

.btn-book-now a {
  display: block;
  width: 100%;
  color: #fff;
}

.btn-book-now a:hover {
  color: #064273;
}

/* box img gallery ======================== */
.boxes-grid-container {
  display: grid;
  gap: 20px;
  margin: 1rem;
  grid-template-areas: 
    'box-a box-c box-b';
}

.boxes-grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-a {
  grid-area: box-a;
}

.box-b {
  grid-area: box-b;
}

.box-c {
  grid-area: box-c;
  padding: 1em;
}

/* Testimonial quotes _____________ */
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  margin: 2rem 0;
}

blockquote::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f10d';
  margin-right: 10px;
}

blockquote::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f10e';
  margin-left: 10px;
}

/* google maps iframe ==================*/

.map-header {
  color: #064273;
  text-align: center;
  margin-top: 5%;
  font-size: 3rem;
  padding: 0 10%;
  font-family: 'Amatic SC', cursive;
}

.map-flex-container {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin: 30px;
}

.map-flex-container iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.book-table {
  display: flex;
  flex-direction: column;
}

.book-table a {
  color: #064273;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3rem;
  padding: 0 10%;
  font-family: 'Amatic SC', cursive;
  text-decoration: underline;
}

/* footer ======================== */
.footer {
  background-color: #064273;  
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 2.5rem;  
}

.footer-grid-container {
  background-color: #064273;
  margin: 0 auto;
  padding: 1rem 2rem;
  color: #fff;
  display: grid;
  grid-template-areas: 
    'contact-details opening-times';
}

.address, .email-address, .number{
  display: flex;
  align-items: center;
}

.address, .email-address, .number, i {
  margin-right: 10px;
}

.contact-details i {
  letter-spacing: 2px;
}


.contact-details a {
  color: #fff;
}

.opening-times {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-area: opening-times;
  justify-items: center;
  height: 100%;
}

/* Gallery page ================================= */
/* ----- carousel container stylings: 
-> centers the whole content of the page
-> defines width and height for container ----- */
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 800px;
  width: 100vw;
  height: 500px;
  position: relative;
}

/* ----- carousel content stylings ----- */
/* places the carousel content on center of the carousel */
.slideshow {
  /*to center the content horizontally and vertically*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  z-index: 50;
  height: 100%;
  overflow: hidden; /* to hide slides in x-direction */
  position: relative;
}

/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
display: flex;
/* We give it width as 400% because we are making a 
   4 image carousel. If you want to make for example, 
   5 images carousel, then give width as 500%. */
width: 400%;
height: 100%;
position: relative;
/* you can change the animation settings from below */
animation: slideshow 20s infinite;
}

/* define width and height for images*/
.slide {
width: 100%;
height: 100%;
}
.slide-img {
width: 100%;
height: 100%;
object-fit: cover; 
}

/* @keyframes are used to provide animations
 We make these settings for 4 image carousel.
 Make modification according to your needs. */
 @keyframes slideshow {
  0%  { left: 0; }
  10% { left: 0; }
  15% { left: -100%; }
  25% { left: -100%; }
  30% { left: -200%; }
  40% { left: -200%; }
  45% { left: -300%; }
  55% { left: -300%; }
  60% { left: -200%; }
  70% { left: -200%; }
  75% { left: -100%; }
  85% { left: -100%; }
  90% { left: 0%; }
}

/* ----- carousel control buttons stylings ----- */
.slide-btn {
  background-color: #bbb;
  border-radius: 50%;
  border: .2rem solid #d38800;
  width: 1.2rem;
  height: 1.2rem;
  outline: none;
  cursor: pointer;
  /* stylings for positioning the buttons at
     the bottom of the carousel */
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 70;
}

/* As we provide position as absolute, 
  the buttons places one over the other. 
  So, we have to place them individually
  at their correct positions. */
  .slide-btn-1 {
    left: 30%;
  }
  .slide-btn-2 {
    left: 40%;
  }
  .slide-btn-3 {
    left: 50%;
  }
  .slide-btn-4 {
    left: 60%;
  }

/* When we focus on the particular button, 
  the animation stops to that particular image 
  to which the button is associated. */
  .slide-btn-1:focus~.slideshow-wrapper {
    animation: none;
    left: 0;
  }
  .slide-btn-2:focus~.slideshow-wrapper {
    animation: none;
    left: -100%;
  }
  .slide-btn-3:focus~.slideshow-wrapper {
    animation: none;
    left: -200%;
  }
  .slide-btn-4:focus~.slideshow-wrapper {
    animation: none;
    left: -300%;
  }
/* when we focus on the button, the background color changes */
  .slide-btn:focus {
    background-color: #064273;
  }

/* Menu Page ========================
Fonts: 
Menu item = Amatic SC regular
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
Description = Abadi MT-Condensed Light or Barlow condensed
*/

/* Sub menu h2, button and accordion */

.submenu-btn {
  border: none;
  text-align: center;
  margin: 1rem auto;
  background-color: #064273;
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
}

.submenu-btn span {
  flex: 1;
}

.submenu-btn::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
	content: "\2b";
  color: #fff;
  font-size: 2rem;
  width: 75px;  

}

.submenu-btn.active::after {
  transform: rotate(45deg);  
}

.sub-menu {
  overflow: hidden;

}

.sub-menu-items {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.sub-menu-items.active {
  max-height: 4000px;
  transition: max-height 0.5s ease-in;
}

.menu-item {
  padding: 1rem;
}

.name-price-desc-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name-price-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Amatic SC', cursive;
  margin-bottom: 0.2rem;
}

.item-name {
  font-size: 2rem;
}
.menu-subheader {
  font-size: 2rem;
  text-align: center;
  margin: 0.2rem auto;
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
}

.dash-border {
  color: #fff;
  border-bottom: 2px dashed #064273;
  width: 40%;
  flex: 1;
  margin: 0 5px;
}

.item-price {
  font-size: 2rem;
}


/* font-family: 'Barlow Condensed', sans-serif; */

/* media queries ==================== */
@media screen and (max-width: 1044px) {
  .contact-details {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

  }
  .contact-details i {
    line-height: 2rem;
    letter-spacing: 2px;
  }

}

@media screen and (max-width: 650px) {
  html, body {
    position: relative;
    overflow-x: hidden;
  }

  .wrapper {
    padding: 0;
  }

  .logo {
    padding: 0;
  }

  /* hide the main nav bar */
  .nav-grid-container .nav-links {
    display: none;
  }

  .nav-grid-container {
    position: absolute;
    width: 100%;
  }
  

  /* set side menu */
  .side-menu {
    display: block;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
  }

  .nav-links {
    margin-left: 0;
    margin-right: 0;
    background-color: #064273;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-links li {
    border-right: none;
  }
  

  .side-menu .nav-links a {
    width: 100vw;
    max-width: 100vw;
  }



  .burger-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: -50px;
  }

  .active {
    height: auto; opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
  }
  
  .top-gallery-grid-container {
    grid-template-areas: 
      'value-prop'
      'main-img'
      'ot-widget';
    
    gap: 5px;
    margin-bottom: 2px;
  }

  .boxes-grid-container {
    grid-template-areas: 
    'box-b'
    'box-c'
    'box-a';

    gap: 6px;
  }

  .dash-border {
    display: none;
  }

  .footer-grid-container {
    grid-template-areas: 
    'opening-times'
    'contact-details';
  }

  .opening-times {
    padding-bottom: 10%;
  }

}


@media screen and (max-width: 510px) {
  .item-name {
    font-size: 1.75rem;
  }
  
  .contact-details {
    flex-direction: column;
    justify-content: space-around;

  }
  .contact-details i {
    font-size: 0.7rem;
    line-height: 2rem;
    letter-spacing: 2px;
  }
}
