@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

/* Universal styling===========================*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'ABeeZee', sans-serif;
  color: #212121;
}

body {
  width: 100%;
  line-height: 1.4;
  color: #333;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%; /* so the images stay within their parents*/
}

.wrapper {
  margin: 10px 25px;
  padding-bottom: 2.5rem;
}

/* Head ======================== */
.head-logo {
  background-color: #064273;
  width: 100%;
  margin: 0;
  overflow: auto;
}

.head-logo h1 {
  border: 5px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-family: 'Parisienne', cursive;
  font-size: 4rem;

  max-width: 400px;
  margin: 10px auto;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
}

.head-logo h1 span {
  font-family: 'ABeeZee', sans-serif;
  font-size: 2rem;
  text-align: right;
}


/* nav ======================== */
.nav-grid-container ul {
  display: grid;
  gap: 20px;
  padding: 0;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  
}

.nav-grid-container a {
  background-color: #064273;
  color: #fff;
  display: block;
  padding: 0.8rem;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.nav-grid-container a:hover {
  color: #af5800;
}

.nav-grid-container li a:active {
  background-color: grey;
}

/* gallery grid container ==================*/
.top-gallery-grid-container {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-template-areas: 
    'value-prop main-img main-img'
    'value-prop main-img main-img';
}

.value-prop {
  font-family: 'ABeeZee', sans-serif;
  text-align: center;
  grid-area: value-prop;
  line-height: 2rem;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.value-prop h2 {
  font-size: 2rem;
}

.value-prop i {
  font-size: 1rem;
  letter-spacing: 2px;
}

.main-image {
  grid-area: main-img;
}


/* box img gallery ======================== */
.boxes-grid-container {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
  grid-template-areas: 
    'box-a box-b box-c';
}

.boxes-grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-a {
  grid-area: box-a;
}

.box-b {
  grid-area: box-b;
}

.box-c {
  grid-area: box-c;
}

/* google maps iframe ==================*/

.map-flex-container {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin: 30px;
}

.map-flex-container iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* footer ======================== */
.footer {
  background-color: #064273;  
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  

}

.contact-details {
  background-color: #064273;
  margin: 0 auto;
  padding: 1rem;
  display: flex;  
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.contact-details i {
  letter-spacing: 2px;
}

.contact-details i br {
  display: none;
}


/* media queries ==================== */
@media screen and (max-width: 1044px) {
  .contact-details {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

  }
  .contact-details i {
    line-height: 2rem;
    letter-spacing: 2px;
  }

}

@media screen and (max-width: 650px) {
  .top-gallery-grid-container {
    grid-template-areas: 
      'value-prop'
      'main-img';
    
    gap: 5px;
    margin-bottom: 2px;
  }

  .boxes-grid-container {
    grid-template-areas: 
    'box-a'
    'box-b'
    'box-c';

    gap: 6px;
  }
  .nav-grid-container {
    display: none;
  }
}

@media screen and (max-width: 510px) {
  .contact-details {
    flex-direction: column;
    justify-content: space-around;

  }
  .contact-details i {
    font-size: 0.7rem;
    line-height: 2rem;
    letter-spacing: 2px;
  }
}